body{
    background: #1B5500;
    color:#FFFBEE;
    font-family: sans-serif;
}
p{
    line-height: 25px;
    font-size: 16px;
}
.linkBtn{
    text-decoration: none;
    color:inherit;
    padding:2% 5%;
    border-radius:50px;
    border:#FFFBEE 2px solid;
}
.linkBtn:hover{
    background: #fffbee;
    color:#1B5500;
}

/*NAVIGATION*/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/*HEADER*/
#header{
    text-align:center;
    display:grid;
    grid-template-columns: 90% 10%;
}
#header img{
    width:60%;
}

  /*SLIDESHOW*/
#landing{
    padding:5% 10%;
    padding-top:1%;
}

.slideshowContainer{
    width: 90%;
    overflow: hidden;
    border: 20px solid #ffffff;
    border-radius: 4px;
    margin:auto;
    background: #FFFBEE;
}
.slideshowWrapper{
    width: 100%;
    display: flex;
    animation: slide 10s infinite;
}
img{
    width:100%;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-300%);
    }
}


/*PROGRAMS AND JOIN*/
#programs-join{
    display: grid;
    grid-template-columns: 50% 50%;
}
#programs{
    background-color: #FFFBEE;
    text-align: center;
    color:black;
    padding:6%;
    padding-left:3%;
}
#programsGrid{
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-gap:4%;
}
.program{
    background:darkolivegreen;
    color:#FFFBEE;
    text-align:center;
    padding:15%;
    
}
#join{
    text-align: center;
    padding:6%;
    margin-left:1%;
    border: #fffbee 1px solid;
}

/*QUOTE 1*/
#quote1{
    margin-top:10%;
    padding:5%;
    background: #FFFBEE;
    color:#1B5500;
    height:80px;
    font-size: 18px;
    line-height: 30px;
}


/*SOCIALS*/
#socials{
    padding:5%;
    background: #FFFBEE;
    margin:5%;
    text-align: center;
    border-radius: 10px;
}
.wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: #1B5500;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
  

  /*FOOTER*/
  footer{
    background:black;
    color:#fffbee;
  }
  #footerGrid{
    display:grid;
    grid-template-columns: 25% 50% 25%;
    grid-gap:1%;
  }
.footerItem{
    padding:5%;
}
#footerGrid img{
    width:25%;
}

.fa-bars{
    padding-left:1%;
    padding-top:1%;
}



/*ABOUT*/
#objectives{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap:5%;
    padding:5%;
}
.item{
    background:rgb(255, 255, 235);
    color:black;
    text-align:center;
    padding:20%;
}
#aboutGallery{
    padding:5%;
}
#aboutGallery img{
    border:#fffbee 5px solid;
}